serveur.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
targetNamespace="https://soapserviceinfo802mf.herokuapp.com/wsdl" 
xmlns:apachesoap="http://xml.apache.org/xml-soap" 
xmlns:impl="https://soapserviceinfo802mf.herokuapp.com/wsdl" 
xmlns:intf="https://soapserviceinfo802mf.herokuapp.com/wsdl" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="https://soapserviceinfo802mf.herokuapp.com/wsdl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculCoutLivraison">
    <complexType>
     <sequence>
      <element name="prix" type="xsd:int"/>
      <element name="distance" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculCoutLivraisonResponse">
    <complexType>
     <sequence>
      <element name="prixLivraison" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculCoutLivraisonRequest">

      <wsdl:part element="impl:calculCoutLivraison" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculCoutLivraisonResponse">

      <wsdl:part element="impl:calculCoutLivraisonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="prixLivraison">

      <wsdl:operation name="calculCoutLivraison">

         <wsdl:input message="impl:calculCoutLivraisonRequest" name="calculCoutLivraisonRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculCoutLivraisonResponse" name="calculCoutLivraisonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="prixLivraisonSoapBinding" type="impl:prixLivraison">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculCoutLivraison">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculCoutLivraisonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculCoutLivraisonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="servicesCoutLivraison">

      <wsdl:port binding="impl:prixLivraisonSoapBinding" name="prixLivraison">

         <wsdlsoap:address location="https://soapserviceinfo802mf.herokuapp.com/wsdl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
